In [116]:
import pandas as pd
import numpy as np

In [118]:
data = pd.read_html("https://en.wikipedia.org/wiki/2022_FIFA_World_Cup")
data

[   كأس العالم لكرة القدم 2022  كأس العالم لكرة القدم 2022.1
 0     عالوعد‎ "Now Is All"[1]       عالوعد‎ "Now Is All"[1]
 1          Tournament details            Tournament details
 2                Host country                         Qatar
 3                       Dates     20 November – 18 December
 4                       Teams    32 (from 5 confederations)
 5                    Venue(s)          8 (in 5 host cities)
 6             Final positions               Final positions
 7                   Champions         Argentina (3rd title)
 8                  Runners-up                        France
 9                 Third place                       Croatia
 10               Fourth place                       Morocco
 11      Tournament statistics         Tournament statistics
 12             Matches played                            64
 13               Goals scored          172 (2.69 per match)
 14                 Attendance  3,404,252 (53,191 per match)
 15              Top scorer(s)       Kylian Mbappé (8 goals)
 16             Best player(s)                  Lionel Messi
 17          Best young player                Enzo Fernández
 18            Best goalkeeper             Emiliano Martínez
 19            Fair play award                       England
 20              ← 2018 2026 →                 ← 2018 2026 →,
                                                    0
 0                            Part of a series on the
 1                                2022 FIFA World Cup
 2  Hosting Bids Australia Indonesia Japan Qatar S...
 3  Qualification Overview Africa first round seco...
 4  Matches Group stage Group A Group B Group C Gr...
 5  Controversies Overview Allegations of corrupti...
 6  People Gianni Infantino Antonio Mateu Lahoz Ta...
 7  Promotional and related media Adidas Al Rihla ...
 8  Media related to 2022 FIFA World Cup at Wikime...
 9                                                vte,
                             Place Teams Amount (in millions)
                             Place Teams             Per team Total
 0                       Champions     1                  $42   $42
 1                      Runners-up     1                  $30   $30
 2                     Third place     1                  $27   $27
 3                    Fourth place     1                  $25   $25
 4  5th–8th place (quarter-finals)     4                  $17   $68
 5    9th–16th place (round of 16)     8                  $13  $104
 6   17th–32nd place (group stage)    16                   $9  $144
 7                           Total    32                 $440  $440,
          Bidders   Votes
          Bidders Round 1     Round 2     Round 3     Round 4
 0          Qatar      11          10          11          14
 1  United States       3           5           6           8
 2    South Korea       4           5           5  Eliminated
 3          Japan       3           2  Eliminated  Eliminated
 4      Australia       1  Eliminated  Eliminated  Eliminated,
         City                        Stadium           Capacity
 0    Al Khor                Al Bayt Stadium  68,895[66][67][E]
 1     Lusail                 Lusail Stadium  88,966[68][69][F]
 2  Al Rayyan          Ahmad bin Ali Stadium  45,032[70][71][G]
 3  Al Rayyan         Education City Stadium  44,667[72][73][H]
 4  Al Rayyan  Khalifa International Stadium  45,857[74][75][I]
 5       Doha             Al Thumama Stadium  44,400[76][77][J]
 6       Doha                    Stadium 974  44,089[78][79][K]
 7  Al Wakrah              Al Janoub Stadium  44,325[80][81][L],
              Team                                              Hotel  \
 0       Argentina                          Qatar University Hostel 1
 1       Australia           New Aspire Academy Athlete Accommodation
 2         Belgium               Hilton Salwa Beach Resort and Villas
 3          Brazil                      The Westin Doha Hotel and Spa
 4        Cameroon            Banyan Tree Doha at La Cigale Mushaireb
 5          Canada                        Century Marina Hotel Lusail
 6      Costa Rica                                 dusitD2 Salwa Doha
 7         Croatia                                        Hilton Doha
 8         Denmark                           Retaj Salwa Resort & SPA
 9         Ecuador                            Hyatt Regency Oryx Doha
 10        England                Souq Al Wakra Hotel Qatar by Tivoli
 11         France  Al Messila – A Luxury Collection Resort & Spa,...
 12        Germany                              Zulal Wellness Resort
 13          Ghana                DoubleTree by Hilton Doha – Al Sadd
 14           Iran    Al Rayyan Hotel Doha Curio Collection by Hilton
 15          Japan                            Radisson Blu Hotel Doha
 16         Mexico                          Simaisma, A Murwab Resort
 17        Morocco                              Wyndham Doha West Bay
 18    Netherlands                                 The St. Regis Doha
 19         Poland                                 Ezdan Palace Hotel
 20       Portugal              Al Samriya Autograph Collection Hotel
 21          Qatar                         Al Aziziyah Boutique Hotel
 22   Saudi Arabia                     Sealine Beach, a Murwab Resort
 23        Senegal                        Duhail Handball Sports Hall
 24         Serbia                              Rixos Gulf Hotel Doha
 25    South Korea                       Le Méridien City Center Doha
 26          Spain                          Qatar University Hostel 2
 27    Switzerland                            Le Royal Méridien, Doha
 28        Tunisia                  Wyndham Grand Doha West Bay Beach
 29  United States            Marsa Malaz Kempinski, The Pearl – Doha
 30        Uruguay                              Pullman Doha West Bay
 31          Wales                      Delta Hotels City Center Doha

                                         Training site
 0                    Qatar University Training Site 3
 1                   Aspire Zone Training Facilities 5
 2                                 Salwa Training Site
 3                                 Al Arabi SC Stadium
 4                               Al Sailiya SC Stadium
 5                    Umm Salal SC Training Facilities
 6                                  Al Ahli SC Stadium
 7                            Al Ersal Training Site 3
 8                                     Al Sailiya SC 2
 9                    Mesaimeer SC Training Facilities
 10                               Al Wakrah SC Stadium
 11                                 Al Sadd SC Stadium
 12                               Al Shamal SC Stadium
 13                  Aspire Zone Training Facilities 1
 14                 Al Rayyan SC Training Facilities 1
 15               Al Sadd SC New Training Facilities 1
 16                                 Al Khor SC Stadium
 17                               Al Duhail SC Stadium
 18                   Qatar University Training Site 6
 19              Al Kharaitiyat SC Training Facilities
 20                Al Shahaniya SC Training Facilities
 21                  Aspire Zone Training Facilities 3
 22                              Sealine Training Site
 23                                     Al Duhail SC 2
 24                    Al Arabi SC Training Facilities
 25                            Al Egla Training Site 5
 26                   Qatar University Training Site 1
 27  University of Doha for Science and Technology ...
 28                           Al Egla Training Sites 3
 29                              Al Gharafa SC Stadium
 30                           Al Ersal Training Site 1
 31               Al Sadd SC New Training Facilities 2  ,
                                                    0  \
 0  AFC (6)  Australia (38)  Iran (20)  Japan (24)...

                                                    1  \
 0  CONCACAF (4)  Canada (41)  Costa Rica (31)  Me...

                                                    2  \
 0  UEFA (13)  Belgium (2)  Croatia (12)  Denmark ...

                                                    3
 0  Team qualified Team failed to qualify Team wit...  ,
                                                Pot 1  \
 0  Qatar (51) (hosts)  Brazil (1)  Belgium (2)  F...

                                                Pot 2  \
 0  Mexico (9)  Netherlands (10)  Denmark (11)  Ge...

                                                Pot 3  \
 0  Senegal (20)  Iran (21)  Japan (23)  Morocco (...

                                                Pot 4
 0  Cameroon (37)  Canada (38)  Ecuador (46)  Saud...  ,
                                                     0  \
 0   Group A Pos Team A1  Qatar A2  Ecuador A3  Sen...
 1                                                 Pos
 2                                                  A1
 3                                                  A2
 4                                                  A3
 5                                                  A4
 6                                                 Pos
 7                                                  B1
 8                                                  B2
 9                                                  B3
 10                                                 B4
 11                                                Pos
 12                                                 C1
 13                                                 C2
 14                                                 C3
 15                                                 C4
 16                                                Pos
 17                                                 D1
 18                                                 D2
 19                                                 D3
 20                                                 D4
 21  Group E Pos Team E1  Spain E2  Costa Rica E3  ...
 22                                                Pos
 23                                                 E1
 24                                                 E2
 25                                                 E3
 26                                                 E4
 27                                                Pos
 28                                                 F1
 29                                                 F2
 30                                                 F3
 31                                                 F4
 32                                                Pos
 33                                                 G1
 34                                                 G2
 35                                                 G3
 36                                                 G4
 37                                                Pos
 38                                                 H1
 39                                                 H2
 40                                                 H3
 41                                                 H4

                                                     1  \
 0   Group B Pos Team B1  England B2  Iran B3  Unit...
 1                                                Team
 2                                               Qatar
 3                                             Ecuador
 4                                             Senegal
 5                                         Netherlands
 6                                                Team
 7                                             England
 8                                                Iran
 9                                       United States
 10                                              Wales
 11                                               Team
 12                                          Argentina
 13                                       Saudi Arabia
 14                                             Mexico
 15                                             Poland
 16                                               Team
 17                                             France
 18                                          Australia
 19                                            Denmark
 20                                            Tunisia
 21  Group F Pos Team F1  Belgium F2  Canada F3  Mo...
 22                                               Team
 23                                              Spain
 24                                         Costa Rica
 25                                            Germany
 26                                              Japan
 27                                               Team
 28                                            Belgium
 29                                             Canada
 30                                            Morocco
 31                                            Croatia
 32                                               Team
 33                                             Brazil
 34                                             Serbia
 35                                        Switzerland
 36                                           Cameroon
 37                                               Team
 38                                           Portugal
 39                                              Ghana
 40                                            Uruguay
 41                                        South Korea

                                                     2  \
 0   Group C Pos Team C1  Argentina C2  Saudi Arabi...
 1                                                 NaN
 2                                                 NaN
 3                                                 NaN
 4                                                 NaN
 5                                                 NaN
 6                                                 NaN
 7                                                 NaN
 8                                                 NaN
 9                                                 NaN
 10                                                NaN
 11                                                NaN
 12                                                NaN
 13                                                NaN
 14                                                NaN
 15                                                NaN
 16                                                NaN
 17                                                NaN
 18                                                NaN
 19                                                NaN
 20                                                NaN
 21  Group G Pos Team G1  Brazil G2  Serbia G3  Swi...
 22                                                NaN
 23                                                NaN
 24                                                NaN
 25                                                NaN
 26                                                NaN
 27                                                NaN
 28                                                NaN
 29                                                NaN
 30                                                NaN
 31                                                NaN
 32                                                NaN
 33                                                NaN
 34                                                NaN
 35                                                NaN
 36                                                NaN
 37                                                NaN
 38                                                NaN
 39                                                NaN
 40                                                NaN
 41                                                NaN

                                                     3
 0   Group D Pos Team D1  France D2  Australia D3  ...
 1                                                 NaN
 2                                                 NaN
 3                                                 NaN
 4                                                 NaN
 5                                                 NaN
 6                                                 NaN
 7                                                 NaN
 8                                                 NaN
 9                                                 NaN
 10                                                NaN
 11                                                NaN
 12                                                NaN
 13                                                NaN
 14                                                NaN
 15                                                NaN
 16                                                NaN
 17                                                NaN
 18                                                NaN
 19                                                NaN
 20                                                NaN
 21  Group H Pos Team H1  Portugal H2  Ghana H3  Ur...
 22                                                NaN
 23                                                NaN
 24                                                NaN
 25                                                NaN
 26                                                NaN
 27                                                NaN
 28                                                NaN
 29                                                NaN
 30                                                NaN
 31                                                NaN
 32                                                NaN
 33                                                NaN
 34                                                NaN
 35                                                NaN
 36                                                NaN
 37                                                NaN
 38                                                NaN
 39                                                NaN
 40                                                NaN
 41                                                NaN  ,
   Pos         Team
 0  A1        Qatar
 1  A2      Ecuador
 2  A3      Senegal
 3  A4  Netherlands,
   Pos           Team
 0  B1        England
 1  B2           Iran
 2  B3  United States
 3  B4          Wales,
   Pos          Team
 0  C1     Argentina
 1  C2  Saudi Arabia
 2  C3        Mexico
 3  C4        Poland,
   Pos       Team
 0  D1     France
 1  D2  Australia
 2  D3    Denmark
 3  D4    Tunisia,
   Pos        Team
 0  E1       Spain
 1  E2  Costa Rica
 2  E3     Germany
 3  E4       Japan,
   Pos     Team
 0  F1  Belgium
 1  F2   Canada
 2  F3  Morocco
 3  F4  Croatia,
   Pos         Team
 0  G1       Brazil
 1  G2       Serbia
 2  G3  Switzerland
 3  G4     Cameroon,
   Pos         Team
 0  H1     Portugal
 1  H2        Ghana
 2  H3      Uruguay
 3  H4  South Korea,
                 Tie-breaking criteria for group play
 0  The ranking of teams in the group stage was de...,
    Pos      Teamvte  Pld  W  D  L  GF  GA  GD  Pts               Qualification
 0    1  Netherlands    3  2  1  0   5   1  +4    7  Advanced to knockout stage
 1    2      Senegal    3  2  0  1   5   4  +1    6  Advanced to knockout stage
 2    3      Ecuador    3  1  1  1   4   3  +1    4                         NaN
 3    4    Qatar (H)    3  0  0  3   1   7  −6    0                         NaN,
    Qatar     0–2                   Ecuador
 0    NaN  Report  Valencia 16' (pen.), 31',
    Senegal     0–2               Netherlands
 0      NaN  Report  Gakpo 84' Klaassen 90+9',
          Qatar     1–3                            Senegal
 0  Muntari 78'  Report  Dia 41' Diédhiou 48' B. Dieng 84',
   Netherlands     1–1       Ecuador
 0    Gakpo 6'  Report  Valencia 49',
        Ecuador     1–2                           Senegal
 0  Caicedo 67'  Report  I. Sarr 44' (pen.) Koulibaly 70',
                 Netherlands     2–0  Qatar
 0  Gakpo 26' F. de Jong 49'  Report    NaN,

In [120]:
for i in range(11,67,7):
    df = data[i]
    print(i)

11
18
25
32
39
46
53
60

In [122]:
df

   Pos      Teamvte  Pld  W  D  L  GF  GA  GD  Pts               Qualification
0    1       Brazil    3  2  0  1   3   1  +2    6  Advanced to knockout stage
1    2  Switzerland    3  2  0  1   4   3  +1    6  Advanced to knockout stage
2    3     Cameroon    3  1  1  1   4   4   0    4                         NaN
3    4       Serbia    3  0  1  2   5   8  −3    1                         NaN

In [124]:
import pandas as pd

# Extraer las tablas
data = pd.read_html("https://en.wikipedia.org/wiki/2022_FIFA_World_Cup")

# Mostrar cuántas tablas se extrajeron
print(f"Número de tablas extraídas: {len(data)}")
# Lista para almacenar las tablas filtradas
filtered_tables = []

# Recorrer cada tabla en los datos extraídos
for i, table in enumerate(data):
    # Verificar si la tabla contiene las columnas deseadas
    if set(['Pos', 'Teamvte' or "Team", 'Pld', 'W', 'D', 'L', 'GF', 'GA', 'GD', 'Pts', 'Qualification']).issubset(table.columns):
        # Si cumple, agregar a la lista
        filtered_tables.append(table)

# Eliminar la columna 'Qualification'
final_dataframe = final_dataframe.drop(columns=['Qualification'])

# Mostrar el DataFrame final
print(final_dataframe)

Número de tablas extraídas: 103

KeyError: "['Qualification'] not found in axis"

# BUSCAMOS EXTRAER DATA DE MUNDIALES PASADOS

In [1]:
import pandas as pd
from bs4 import BeautifulSoup
import requests

# data to scraper -> 1930-2018
years = [1930, 1934, 1938, 1950, 1954, 1958, 1962, 1966, 1970, 1974,
         1978, 1982, 1986, 1990, 1994, 1998, 2002, 2006, 2010, 2014,
         2018]

In [3]:
def get_matches(year):
    web = f'https://en.wikipedia.org/wiki/{year}_FIFA_World_Cup'
    response = requests.get(web)
    content = response.text
    soup = BeautifulSoup(content, 'lxml')
    matches = soup.find_all('div', class_='footballbox')      # En el inspeccionar, vemos que a los partidos los divide un div, con un nombre de clases
                                                              # footballbox, por eso lo dividimos de esta forma

    home = []
    score = []
    away = []

    for match in matches:                                          # Cada find_all nos devuelve una lista, que transformamos en dataframe via este bucle
        home.append(match.find('th', class_='fhome').get_text())   # los th, las clases las obtenemos del indpeccionar la pagina web html
        score.append(match.find('th', class_='fscore').get_text()) # get_text nos da el texto de la parte que señalamos de la pagina.
        away.append(match.find('th', class_='faway').get_text())

    dict_football = {'home': home, 'score': score, 'away': away}
    df_football = pd.DataFrame(dict_football)
    df_football['year'] = year
    return df_football


# results: historical data
fifa = [get_matches(year) for year in years]
df_fifa = pd.concat(fifa, ignore_index=True)
df_fifa.to_csv("fifa_worldcup_historical_data.csv", index=False)

# fixture
df_fixture = get_matches(2018)

ConnectTimeout: HTTPSConnectionPool(host='en.wikipedia.org', port=443): Max retries exceeded with url: /wiki/1930_FIFA_World_Cup (Caused by ConnectTimeoutError(<urllib3.connection.HTTPSConnection object at 0x000002760EED0290>, 'Connection to en.wikipedia.org timed out. (connect timeout=None)'))

In [5]:
df_fifa

NameError: name 'df_fifa' is not defined

In [7]:
df_historical_data = pd.read_csv("C:/Users/Florencia Cires/OneDrive/Documentos/ML PROYECTS/DATOS/fifa_worldcup_matches.csv")
df_fixture = pd.read_csv("C:/Users/Florencia Cires/OneDrive/Documentos/ML PROYECTS/DATOS/fifa_worldcup_fixture.csv")
df_missing_data = pd.read_csv("C:/Users/Florencia Cires/OneDrive/Documentos/ML PROYECTS/DATOS/fifa_worldcup_missing_data.csv")

In [9]:
df_fixture["home"]

0               Qatar
1             Senegal
2               Qatar
3         Netherlands
4             Ecuador
            ...
59    Winners Match 51
60    Winners Match 57
61    Winners Match 59
62     Losers Match 61
63    Winners Match 61
Name: home, Length: 64, dtype: object

Tenemos algunos nombres de lugares con espacios en blanco,por lo que debemos limpiar eso

Para eso debemos acceder a la cadena de texto y usar la funcion strip.

In [12]:
df_fixture ["home"] = df_fixture["home"].str.strip()
df_fixture["away"] = df_fixture["away"].str.strip()

 # AHORA LIMPIAMOS LOS DOS DATAFRAMES Y LOS UNIMOS

ANALIZAMOS EL PRIMER DATAFRAME

In [14]:
df_missing_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 508 entries, 0 to 507
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   home    444 non-null    object
 1   score   444 non-null    object
 2   away    444 non-null    object
 3   year    508 non-null    int64
dtypes: int64(1), object(3)
memory usage: 16.0+ KB

TENEMOS NULOS EN HOME SCORE Y AWAY

In [17]:
df_missing_data[df_missing_data.isnull()]

    home score away  year
0    NaN   NaN  NaN   NaN
1    NaN   NaN  NaN   NaN
2    NaN   NaN  NaN   NaN
3    NaN   NaN  NaN   NaN
4    NaN   NaN  NaN   NaN
..   ...   ...  ...   ...
503  NaN   NaN  NaN   NaN
504  NaN   NaN  NaN   NaN
505  NaN   NaN  NaN   NaN
506  NaN   NaN  NaN   NaN
507  NaN   NaN  NaN   NaN

[508 rows x 4 columns]

In [19]:
df_missing_data.dropna(inplace=True)
df_missing_data

              home score           away  year
0          Mexico    0–0   Soviet Union  1970
1         Belgium    3–0    El Salvador  1970
2    Soviet Union    4–1        Belgium  1970
3          Mexico    4–0    El Salvador  1970
4    Soviet Union    2–0    El Salvador  1970
..             ...   ...            ...   ...
503         Spain    0–1    Switzerland  2010
504         Chile    1–0    Switzerland  2010
505         Spain    2–0       Honduras  2010
506         Chile    1–2          Spain  2010
507   Switzerland    0–0       Honduras  2010

[444 rows x 4 columns]

In [23]:
pd.concat([df_historical_data, df_missing_data], ignore_index=True)
df_historical_data = pd.concat([df_historical_data, df_missing_data], ignore_index=True)
df_historical_data.drop_duplicates(inplace=True)
df_historical_data.sort_values('year', inplace=True)
df_historical_data

           home score            away  year
0       France    4–1          Mexico  1930
17     Uruguay    4–2       Argentina  1930
16     Uruguay    6–1      Yugoslavia  1930
15   Argentina    6–1   United States  1930
14    Paraguay    1–0         Belgium  1930
..          ...   ...             ...   ...
419     Brazil    2–0      Costa Rica  2018
420     Serbia    1–2     Switzerland  2018
421     Serbia    0–2          Brazil  2018
408     France    1–0            Peru  2018
450     Brazil    1–2         Belgium  2018

[901 rows x 4 columns]

# SEGUIMOS LIMPIANDO EL DATASET

TENEMOS UN PARTIDO QUE NO SE JUGO, POR LO QUE LO VAMOS A IDENTIFICAR

In [30]:
delete_index = df_historical_data[df_historical_data['home'].str.contains('Sweden') &
                                  df_historical_data['away'].str.contains('Austria')].index
df_historical_data.drop(index=delete_index, inplace=True)

AHORA PARA LIMPIAR LOS DATOS DE SCORE, LO BUSCAMOS DE LA SIGUIENTE MANERA, DONDE VEMOS QUE NO EMPIEZA CON UN DIGITO:

In [42]:
df_historical_data[df_historical_data["score"].str.contains("[^\d–]")]

<>:1: SyntaxWarning: invalid escape sequence '\d'
<>:1: SyntaxWarning: invalid escape sequence '\d'
C:\Users\Florencia Cires\AppData\Local\Temp\ipykernel_16380\517390858.py:1: SyntaxWarning: invalid escape sequence '\d'
  df_historical_data[df_historical_data["score"].str.contains("[^\d–]")]

Empty DataFrame
Columns: [home, score, away, year]
Index: []

AHORA CON LA FUNCION REPLACE ESTAMOS SACANDO LO QUE NO ES DIGITO, Y LO REEMPLAZAMOS CON UN ESPACIO EN BLANCO

In [38]:
df_historical_data['score'] = df_historical_data['score'].str.replace('[^\d–]', '', regex=True)

<>:1: SyntaxWarning: invalid escape sequence '\d'
<>:1: SyntaxWarning: invalid escape sequence '\d'
C:\Users\Florencia Cires\AppData\Local\Temp\ipykernel_16380\2091076918.py:1: SyntaxWarning: invalid escape sequence '\d'
  df_historical_data['score'] = df_historical_data['score'].str.replace('[^\d–]', '', regex=True)

In [44]:
df_historical_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 900 entries, 0 to 450
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   home    900 non-null    object
 1   score   900 non-null    object
 2   away    900 non-null    object
 3   year    900 non-null    int64
dtypes: int64(1), object(3)
memory usage: 35.2+ KB

EL PROBLEMA ES QUE NOS SIGUE APARECIENDO COMO OBJETO EL SCORE, LO QUE TENEMOS QUE SOLUCIONAR TAMBIEN

PRIMERO LIMPIAMOS LOS DATOS STRING CON ESPACIOS EN BLANCO:

In [49]:
df_historical_data['home'] = df_historical_data['home'].str.strip() # LIMPIAMOS LOS ESPACIOS EN BLANCO
df_historical_data['away'] = df_historical_data['away'].str.strip()

AHORA LO QUE BUSCAMOS HACER ES SEPARAR LOS DATOS EN SCORE POR EJEMPLO 2-1 SEPARARLO EN DOS POR EL "-"

REDEFINIMOS LAS COLUMNAS EN HOMEGOALS Y AWAYGOALS, SEPARANDOLAS POR EL "-"

In [53]:

df_historical_data[['HomeGoals', 'AwayGoals']] = df_historical_data['score'].str.split('–', expand=True)
df_historical_data.drop('score', axis=1, inplace=True)

In [55]:
df_historical_data

          home           away  year HomeGoals AwayGoals
0       France         Mexico  1930         4         1
17     Uruguay      Argentina  1930         4         2
16     Uruguay     Yugoslavia  1930         6         1
15   Argentina  United States  1930         6         1
14    Paraguay        Belgium  1930         1         0
..         ...            ...   ...       ...       ...
419     Brazil     Costa Rica  2018         2         0
420     Serbia    Switzerland  2018         1         2
421     Serbia         Brazil  2018         0         2
408     France           Peru  2018         1         0
450     Brazil        Belgium  2018         1         2

[900 rows x 5 columns]

RENOMBRAMOS LAS COLUMNAS CON DICCIONARIOS Y CAMBIAMOS LOS TIIPOS DE DATOS

In [61]:

df_historical_data.rename(columns={'home': 'HomeTeam', 'away': 'AwayTeam', 
                                   'year':'Year'}, inplace=True)
df_historical_data = df_historical_data.astype({'HomeGoals': int, 'AwayGoals':int, 'Year': int})

In [63]:
df_historical_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 900 entries, 0 to 450
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   HomeTeam   900 non-null    object
 1   AwayTeam   900 non-null    object
 2   Year       900 non-null    int32
 3   HomeGoals  900 non-null    int32
 4   AwayGoals  900 non-null    int32
dtypes: int32(3), object(2)
memory usage: 31.6+ KB

In [65]:
df_historical_data.dtypes

HomeTeam     object
AwayTeam     object
Year          int32
HomeGoals     int32
AwayGoals     int32
dtype: object

In [67]:
# creating new column "totalgoals"
df_historical_data['TotalGoals'] = df_historical_data['HomeGoals'] + df_historical_data['AwayGoals']
df_historical_data

      HomeTeam       AwayTeam  Year  HomeGoals  AwayGoals  TotalGoals
0       France         Mexico  1930          4          1           5
17     Uruguay      Argentina  1930          4          2           6
16     Uruguay     Yugoslavia  1930          6          1           7
15   Argentina  United States  1930          6          1           7
14    Paraguay        Belgium  1930          1          0           1
..         ...            ...   ...        ...        ...         ...
419     Brazil     Costa Rica  2018          2          0           2
420     Serbia    Switzerland  2018          1          2           3
421     Serbia         Brazil  2018          0          2           2
408     France           Peru  2018          1          0           1
450     Brazil        Belgium  2018          1          2           3

[900 rows x 6 columns]

# EXPORTAMOS LOS DATAFRAMES LIMPIOS

In [70]:
df_historical_data.to_csv('clean_fifa_worldcup_matches.csv',index=False)
df_fixture.to_csv('clean_fifa_worldcup_fixture.csv',index=False)

VERIFICAMOS NUMEROS DE PARTIDOS POR MUNDIAL

In [73]:

years = [1930, 1934, 1938, 1950, 1954, 1958, 1962, 1966, 1970, 1974,
         1978, 1982, 1986, 1990, 1994, 1998, 2002, 2006, 2010, 2014,
         2018]

for year in years:
    print(year, len(df_historical_data[df_historical_data['Year']==year]))

1930 18
1934 17
1938 18
1950 22
1954 26
1958 35
1962 32
1966 32
1970 32
1974 38
1978 38
1982 52
1986 52
1990 52
1994 52
1998 64
2002 64
2006 64
2010 64
2014 64
2018 64

# GENERAMOS EL PREDICTOR

In [76]:

import pandas as pd
import pickle
from scipy.stats import poisson

In [94]:

df_home = df_historical_data[['HomeTeam', 'HomeGoals', 'AwayGoals']]
df_away = df_historical_data[['AwayTeam', 'HomeGoals', 'AwayGoals']]

df_home = df_home.rename(columns={'HomeTeam':'Team', 'HomeGoals': 'GoalsScored', 'AwayGoals': 'GoalsConceded'})
df_away = df_away.rename(columns={'AwayTeam':'Team', 'HomeGoals': 'GoalsConceded', 'AwayGoals': 'GoalsScored'})

df_team_strength = pd.concat([df_home, df_away], ignore_index=True).groupby(['Team']).mean()
df_team_strength

              GoalsScored  GoalsConceded
Team
Algeria          1.000000       1.461538
Angola           0.333333       0.666667
Argentina        1.691358       1.148148
Australia        0.812500       1.937500
Austria          1.482759       1.620690
...                   ...            ...
Uruguay          1.553571       1.321429
Wales            0.800000       0.800000
West Germany     2.112903       1.241935
Yugoslavia       1.666667       1.272727
Zaire            0.000000       4.666667

[85 rows x 2 columns]

In [96]:
def predict_points(home, away):
    if home in df_team_strength.index and away in df_team_strength.index:
        # goals_scored * goals_conceded
        lamb_home = df_team_strength.at[home,'GoalsScored'] * df_team_strength.at[away,'GoalsConceded']
        lamb_away = df_team_strength.at[away,'GoalsScored'] * df_team_strength.at[home,'GoalsConceded']
        prob_home, prob_away, prob_draw = 0, 0, 0
        for x in range(0,11): #number of goals home team
            for y in range(0, 11): #number of goals away team
                p = poisson.pmf(x, lamb_home) * poisson.pmf(y, lamb_away)
                if x == y:
                    prob_draw += p
                elif x > y:
                    prob_home += p
                else:
                    prob_away += p
        
        points_home = 3 * prob_home + prob_draw
        points_away = 3 * prob_away + prob_draw
        return (points_home, points_away)
    else:
        return (0, 0)

In [98]:

print(predict_points('England', 'United States'))
print(predict_points('Argentina', 'Mexico'))
print(predict_points('Qatar (H)', 'Ecuador')) # Qatar vs Team X -> 0 points to both

(2.2356147635326007, 0.5922397535606193)
(2.3129151525530505, 0.5378377125059863)
(0, 0)